name: Deploy to WordPress.org
on:
  push:
    tags:
      - "v*"
  pull_request:
    tags:
      - "v*"

jobs:
  build:
    if: "contains(github.event.head_commit.message, '--release')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: WordPress Plugin Deploy
        uses: nk-o/action-wordpress-plugin-deploy@master
        env:
          SVN_PASSWORD: ${{secrets.SVN_PASSWORD}}
          SVN_USERNAME: ${{secrets.SVN_USERNAME}}
          SOURCE_DIR: /
          SLUG: wc-payment-links
          ASSETS_DIR: assets